


{% extends "base.html" %}
{% load static %}

{% block title %}Troca de Senha | Catálogo de Filmes {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
<div class="login-container container active">

  <h1 class="title-page-login-register">Troca de Senha</h1>

  <form class="form-login-register" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <i class="bi bi-lock"></i>
      {{ form.new_password1 }}
    </div>

    <div class="input-group">
      <i class="bi bi-lock"></i>
      {{ form.new_password2 }}
    </div>

    {% if messages %}
    <div class="error">
      {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    <button type="submit" class="btn-login-register">Atualizar</button>
  </form>

  <div class="links-login-register">
    <a href="{% url 'login' %}">Voltar ao Login</a>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}
