


{% extends "base.html" %}
{% load static %}

{% block title %}Troca de Senha | Catálogo de Filmes {% endblock %}

{% block content %}
<div class="reset-password-container">
  <div class="reset-password-form">
    <h1 class="title-page-reset-password">Troca de Senha</h1>

    <form class="form-reset-password" method="POST">
      {% csrf_token %}
      <div class="input-group">
        <i class="bi bi-lock"></i>
        {{ form.new_password1 }}
      </div>

      <div class="input-group">
        <i class="bi bi-lock"></i>
        {{ form.new_password2 }}
      </div>

      {% if messages %}
      <div class="error">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}

      <button type="submit" class="btn-success">Atualizar</button>
    </form>

    <div class="links-login-register">
      <a href="{% url 'users:login' %}">Voltar ao Login</a>
    </div>

  </div>

  <img src="{% static 'img/pipoca.png' %}" alt="pipoca" class="img-fundo-login">
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}
