{% extends "base.html" %} 

{% load static %} 

{% block title %}Cadastro | Catálogo de Filmes {% endblock %} 
{% block style %}<link rel="stylesheet" href="{% static 'css/register.css' %}" />{% endblock %} 

{% block content %}
<div class="register-container">
  <div class="register-form">
    <h1 class="title-page-login-register">Cadastro</h1>

    <form class="form-login-register" method="POST">
      {% csrf_token %}

      <div class="input-group">
        <i class="bi bi-person-badge"></i>
        {{ form.full_name }}
      </div>

      {% if form.full_name.errors %}
        <div class="field-error">
          {% for error in form.full_name.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="input-group">
        <i class="bi bi-person"></i>
        {{ form.username }}
      </div>

      {% if form.username.errors %}
        <div class="field-error">
          {% for error in form.username.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="input-group">
        <i class="bi bi-envelope"></i>
        {{ form.email }}
      </div>

      {% if form.email.errors %}
        <div class="field-error">
          {% for error in form.email.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="input-group">
        <i class="bi bi-lock-fill"></i>
        {{ form.password1 }}
      </div>

      {% if form.password1.errors %}
        <div class="field-error">
          {% for error in form.password1.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="input-group">
        <i class="bi bi-lock-fill"></i>
        {{ form.password2 }}
      </div>

      {% if form.password2.errors %}
        <div class="field-error">
          {% for error in form.password2.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% if form.non_field_errors %}
        <div class="field-error">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <button class="btn-success" type="submit">Cadastrar</button>
    </form>

    <div class="links-login-register">
      <a href="{% url 'users:login' %}">Já tenho uma conta</a>
  </div>
  </div>

  <img src="{% static 'img/pipoca.png' %}" alt="pipoca" class="img-fundo-login">
</div>

{% endblock %} 
{% block js %}<script src="{% static 'js/register.js' %}"></script>{% endblock %}
